@import url('https://fonts.googleapis.com/css?family=Poppins:200,500,700,900,900i');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    background: #fff;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 100vh;
    background: url('images/rose.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.header2 {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

nav {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: relative;
}

.overlay {
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: opacity 400ms;
    transform: scale(0);
    opacity: 0;
}

.overlay.menu-open {
    transform: scale(1);
    opacity: 1;
}

.nav .overlay ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .overlay ul li {
    text-transform: uppercase;
}

.nav .overlay ul li a {
    display: block;
    font-size: 2rem;
    transition: all 400ms;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
    color: #D83241;
}

header img {
    top: -10px;
    position: absolute;
    left: 0;
}

.menu {
    right: 10px;
    top: 10px;
    position: absolute;
    padding: 10px 15px;
    border-radius: 3px;
    z-index: 999;
    background: transparent;
    cursor: pointer;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
    content: "";
    position: absolute;
    height: 3px;
    background: #D83241;
    width: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 400ms;
}

.menu .bar::before {
    top: -15px;
}

.menu .bar::after {
    top: 16px;
}

.active .bar {
    background: transparent;
}

.active .bar::before {
    transform: rotate(225deg);
}

.active .bar::after {
    transform: rotate(-225deg);
}

.active .bar::before,
.active .bar::after {
    top: 0;
}

.inspire {
    color: #000000;
    width: 100%;
    margin: auto;
    font-size: 10rem;
    top: 0px;
    left: 0px;
    text-align: center;
}

.inspire-description {
    color: rgb(51, 51, 51);
    font-size: 2.3rem;
    position: relative;
    top: -50px;
    width: 80%;
    margin: auto;
    text-align: left;
    left: -20px;
}

.view {
    background: #7F23DD;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
    position: relative;
    top: -20px;
    left: 20px;
    cursor: pointer;
}

.view a {
    color: white;
}

.about {
    width: 100%;
    height: 30rem;
}

.about .box1 {
    width: 25rem;
    height: 25rem;
    background: url('images/logo2.png');
    background-size: cover;
    background-position: center;
    margin: 5rem auto;
    cursor: pointer;
}

.about .about-title {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: -3rem;
}

.about .about-description {
    color: black;
    font-size: 1rem;
    text-align: center;
}

.portfolio {
    width: 100%;
    height: 30rem;
}

.portfolio .box1 {
    width: 25rem;
    height: 25rem;
    background: url('images/rose.jpg');
    background-size: cover;
    background-position: center;
    margin: 5rem auto;
    cursor: pointer;
}

.portfolio .portfolio-title {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: -3rem;
}

.portfolio .portfolio-description {
    color: black;
    font-size: 1rem;
    text-align: center;
}

.short-description {
    width: 100%;
    height: 14rem;
    padding: 15px;
    font-size: 2rem;
    margin-top: 5rem;
    color: black;
    text-align: center;
}

.info {
    width: 50%;
    height: 5rem;
    padding: 3rem;
}

.info .gear {
    font-size: .5rem;
    color: white;
}

.media {
    width: 50%;
    height: 5rem;
    padding: 3rem;
}

.media .social {
    font-size: .5rem;
    color: white;
}

.media a {
    color: white;
}

.clients {
    width: 50%;
    height: 5rem;
    padding: 3rem;
}

.clients .names {
    font-size: .5rem;
    color: white;
}

.gear-info {
    background: #222;
    height: 22rem;
    position: relative;
    /* margin-top: 2rem; */
}

form {
    width: 100%;
    height: 40rem;
    margin-top: 5rem;
    text-align: center;
}

form h1 {
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
}

.input,
.text-area {
    width: 90%;
    max-width: 90%;
    margin: 5px 0;
    padding: 5px 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 1px solid #222;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.input::placeholder,
.text-area::placeholder {
    color: black;
}

.text-area {
    height: 10rem;
    resize: none;
}

.btn-submit {
    background: #222;
    color: white;
    width: 90%;
    padding: 1rem 0;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: .5;
}

.portfolio-page {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
}

.portfolio-page .cover-art:hover {
    cursor: pointer;
}

.portfolio-page .title {
    color: black;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
}

.portfolio-page .cover-art {
    width: 80%;
    height: 30rem;
    background: white;
    margin: 5rem auto;
    position: relative;
}

.portfolio-page .cover-art:hover {
    opacity: .8;
}

.portfolio-page .cover-art:nth-child(2) {
    background: url('images/Sunset/IMG_3354.jpg');
    background-position: center;
    background-size: cover;
}

.portfolio-page .cover-art:nth-child(3) {
    background: url('images/folder2/IMG_2109.jpg');
    background-position: center;
    background-size: cover;
}

.portfolio-page .cover-art:nth-child(4) {
    background: url('images/rose.jpg');
    background-position: center;
    background-size: cover;
}

.portfolio-page .cover-art .client {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
}

.profile {
    overflow: auto;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
}

.profile .banner {
    width: 80%;
    height: 30rem;
    background: url('images/Sunset/IMG_3354.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3rem auto;
}

.profile .profile-info {
    color: black;
    font-size: .5rem;
    width: 80%;
    margin: auto;
    margin-top: -20px;
}

.profile .profile-info h1 {
    font-weight: 500;
    font-size: 1.2rem;
}

.profile .profile-info a  {
    cursor: pointer;
    float: right;
    margin-top: -20px;
    padding: 4px;
}

.review {
    color: black;
    text-align: center;
    margin-top: 2rem;
}

.review-description {
    width: 80%;
    margin: 2rem auto;
    font-weight: 500;
}

.pictures {
    margin-top: 4rem;
    width: 100%;
    height: auto;
}

.pictures .img1 {
    width: 90%;
    height: 30rem;
    margin: 2rem auto;
}

.pictures .img1:nth-child(1) {
    background: url('images/Sunset/IMG_3073.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures .img1:nth-child(2) {
    background: url('images/Sunset/IMG_3146.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures .img1:nth-child(3) {
    background: url('images/Sunset/IMG_3198.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures .img1:nth-child(4) {
    background: url('images/Sunset/IMG_3321.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures .img1:nth-child(5) {
    background: url('images/Sunset/IMG_3387.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures .img1:nth-child(6) {
    background: url('images/Sunset/IMG_3358.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures .back {
    color: black;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    padding: 1rem;
    margin: 3rem auto;
    font-weight: 700;
    cursor: pointer;
}


.profile2 {
    overflow: auto;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
}

.profile2 .banner2 {
    width: 80%;
    height: 30rem;
    background: url('images/folder2/IMG_2109.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3rem auto;
}

.profile2 .profile-info2 {
    color: black;
    font-size: .5rem;
    width: 80%;
    margin: auto;
    margin-top: -20px;
}

.profile2 .profile-info2 h1 {
    font-weight: 500;
    font-size: 1.2rem;
}

.profile2 .profile-info2 a  {
    cursor: pointer;
    float: right;
    margin-top: -20px;
    padding: 4px;
}

.review2 {
    color: black;
    text-align: center;
    margin-top: 2rem;
}

.review-description2 {
    width: 80%;
    margin: 2rem auto;
    font-weight: 500;
}

.pictures2 {
    margin-top: 4rem;
    width: 100%;
    height: auto;
}

.pictures2 .img2 {
    width: 90%;
    height: 30rem;
    margin: 2rem auto;
}

.pictures2 .img2:nth-child(1) {
    background: url('images/folder2/IMG_2072.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures2 .img2:nth-child(2) {
    background: url('images/folder2/IMG_2255.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures2 .img2:nth-child(3) {
    background: url('images/folder2/IMG_2422.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures2 .img2:nth-child(4) {
    background: url('images/folder2/IMG_2496.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures2 .img2:nth-child(5) {
    background: url('images/folder2/IMG_2566.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures2 .img2:nth-child(6) {
    background: url('images/folder2/IMG_2753.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pictures2 .back {
    color: black;
    font-size: 1rem;
    width: 100px;
    height: 30px;
    padding: 1rem;
    margin: 3rem auto;
    font-weight: 700;
    cursor: pointer;
}

.about {
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: center;
}

.about-img {
    width: 80%;
    height: 30rem;
    background: url('images/logo2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4rem auto;
}

.about h1 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem;
}

.about p {
    font-size: 1.3rem;
    font-weight: 500;
}

















