@import url('https://fonts.googleapis.com/css?family=Poppins:200,500,700,900,900i');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    background: #111;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0.9), transparent),
                url('images/image2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

nav {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, .95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: opacity 400ms;
    transform: scale(0);
    opacity: 0;
}

.overlay.menu-open {
    transform: scale(1);
    opacity: 1;
}

.nav .overlay ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .overlay ul li {
    text-transform: uppercase;
}

.nav .overlay ul li a {
    display: block;
    font-size: 2rem;
    transition: all 400ms;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
    color: #7F23DD;
}

header img {
    top: -10px;
    position: absolute;
    left: 0;
}

.menu {
    right: 10px;
    top: 10px;
    position: fixed;
    padding: 10px 15px;
    border-radius: 3px;
    z-index: 999;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
    content: "";
    position: absolute;
    height: 3px;
    background: white;
    width: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 400ms;
}

.menu .bar::before {
    top: -15px;
}

.menu .bar::after {
    top: 15px;
}

.active .bar {
    background: transparent;
}

.active .bar::before {
    transform: rotate(225deg);
}

.active .bar::after {
    transform: rotate(-225deg);
}

.active .bar::before,
.active .bar::after {
    top: 0;
}

.inspire {
    color: #333131;
    width: 100%;
    margin: auto;
    font-size: 10rem;
    top: 0px;
    left: 0px;
    text-align: center;
}

.inspire-description {
    color: white;
    font-size: 2.3rem;
    position: relative;
    top: -50px;
    width: 80%;
    margin: auto;
    text-align: left;
    left: -20px;
}

.view {
    background: #7F23DD;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    position: relative;
    top: -20px;
    left: 20px;
    cursor: pointer;
}

.about {
    width: 100%;
    height: 35rem;
}

.about .box1 {
    width: 25rem;
    height: 25rem;
    background: url('images/image2.jpg');
    background-size: cover;
    background-position: center;
    margin: 5rem auto;
    cursor: pointer;
}

.about .about-title {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: -3rem;
}

.about .about-description {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.portfolio {
    width: 100%;
    height: 35rem;
}

.portfolio .box1 {
    width: 25rem;
    height: 25rem;
    background: url('images/image2.jpg');
    background-size: cover;
    background-position: center;
    margin: 5rem auto;
    cursor: pointer;
}

.portfolio .portfolio-title {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: -3rem;
}

.portfolio .portfolio-description {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.short-description {
    width: 100%;
    height: 14rem;
    padding: 15px;
    font-size: 2rem;
    margin-top: 1rem;
    color: white;
}

.info {
    width: 50%;
    height: 5rem;
    padding: 3rem;
}

.info .gear {
    font-size: .5rem;
    color: white;
}

.media {
    width: 50%;
    height: 5rem;
    padding: 3rem;
}

.media .social {
    font-size: .5rem;
    color: white;
}

.clients {
    width: 50%;
    height: 5rem;
    padding: 3rem;
}

.clients .names {
    font-size: .5rem;
    color: white;
}

.gear-info {
    background: #222;
    height: 22rem;
    position: relative;
    /* margin-top: 2rem; */
}

form {
    width: 100%;
    height: 40rem;
    margin-top: 10rem;
    text-align: center;
}

form h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
}

.input,
.text-area {
    width: 90%;
    max-width: 90%;
    margin: 5px 0;
    padding: 5px 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    border: none;
    font-family: 'Poppins', sans-serif;
    background: #222;
}

.input::placeholder,
.text-area::placeholder {
    color: white;
}

.text-area {
    height: 10rem;
    resize: none;
}

.btn-submit {
    background: #7F23DD;
    color: white;
    width: 90%;
    padding: 1rem 0;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: .5;
}

.portfolio-page {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.portfolio-page .cover-art:hover {
    cursor: pointer;
}

.portfolio-page .title {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
}

.portfolio-page .cover-art {
    width: 80%;
    height: 30rem;
    background: white;
    margin: 5rem auto;
    position: relative;
}

.portfolio-page .cover-art .client {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    padding: 1rem;
}





















